@charset "utf-8";
/* 初始化页面样式 */
html{
	color:#000;
	background:#FFF;
}
*{margin:0px auto;}

table {
	border-collapse:collapse;
	border-spacing:0;
}
a {
	text-decoration: none;
}

ol,ul {
	list-style:none;
}

